<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <th:block th:fragment="barraSuperior">
        <ul class="nav">

            <li class="nav-item">
                <a class="nav-link" th:href="@{/peliculas}">Peliculas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/directores}">Directores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/contacto}">Contacto</a>
            </li>

        </ul>
    </th:block>


</body>
</html>